include ../../../_db/_scooters

mixin listscooters()
	section.Cover
		each cat in scooters
			a.CoverItem( href=cat.link_url style="background-image: url(" + cat.image_url + ")" )
				h1= cat.name
				h3= cat.description
