//- CONFIG VARIABLES
- Language = 'es'
- PageTitle = 'Gravity Scooters'
- PageDescription = 'BIENVENIDO AL MUNDO DE GRAVITY SCOOTERS'
- MetaDesc = 'PATINETES TODO-TERRENO DE MONTANA, DESCENSOS Y MUSHING'
- Author = 'Sergio Forés'
- AuthorBrief = 'I heart modular design systems + designing in the browser while building interfaces that are usable and accessible to all.'
- GoogleFonts = false
- AnalyticsCode = ''
//- - GoogleFonts = 'Roboto+Condensed:700,300'
