-
	var cover = {
		name: "Home",
		description: "Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		cta_text: "Nuestros Patinetes",
		link_url: "./post-1.html",
		image_url: "assets/images/cover2.jpg"
	};
