-
  var downhill = [
    {
      title: "M10 TRAIL",
      description: "Concebido para bajar o llanear por caminos de la manera más cómoda y segura.",
      description2: "Los frenos hidráulicos y la gran madera aseguran un gran control desde la primera vez. Es un patinete bajo con amortiguación delantera y ruedas anchas de tacos. Combina perfectamente la facilidad para propulsarte, el control a altas velocidades y la comodidad por caminos. Una gran tabla y la altura regulable de la potencia permiten una posición óptima para hacer ejercicio. Destinado a cualquier persona que busque ejercicio al aire libre, nuevas sensaciones, diversión y deporte con seguridad. Convierte tus rutas diarias en un divertido entreno. Es ideal para el alquiler, para rutas que combinen asfalto y tierra, para descensos suaves. Está indicado para personas altas o de gran peso. Su increíble estabilidad lo convierten en un patinete ideal para disfrutar en familia. Tiene capacidad para dos personas. Ideal para electrificar.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "560€",
      price_tax: "677,60€"
    }, {
      title: "DH CORE",
      description: "Perfecto para iniciarse en el descenso.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "742€",
      price_tax: "897,82€"
    }, {
      title: "DH CORE Air",
      description: "Perfecto para iniciarse en el descenso.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "995€",
      price_tax: "1203,95€"
    }, {
      title: "DH Iron",
      description: "Para iniciarse al DH y para el DH extremo.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "1220€",
      price_tax: "1476,20€"
    }, {
      title: "Raptor",
      description: "Para el público más exigente, la máquina de descenso perfecta.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "2430€",
      price_tax: "2940,30€"
    }, {
      title: "Pixie",
      description: "Estables, cómodos y seguros.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "436€",
      price_tax: "527,32€"
    }
  ];
