-
  var escooters = [
    {
      title: "M10 ELÉCTRICO 500W 36V",
      description: "M10 ELÉCTRICO 500W 36V...",
      description2: "",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "1.630€",
      price_tax: "527,32€"
    }
  ];
