-
  var mushing = [
    {
      title: "Pixie",
      description: "Iníciate en el mushing y el descenso a lo grande",
      description2: "",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "436€",
      price_tax: "527,32€"
    }, {
      title: "PULKA R",
      description: "Diseñado para las carrreras de sprint.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "777€",
      price_tax: "939,75€"
    }, {
      title: "MUSHING Pro",
      description: "Perfecto para iniciarse en el descenso.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "690€",
      price_tax: "834,90€"
    }, {
      title: "Pulka",
      description: "Para iniciarse al DH y para el DH extremo.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "649€",
      price_tax: "784,81€"
    }, {
      title: "Raptor",
      description: "Para el público más exigente, la máquina de descenso perfecta.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "2430€"
    }
  ];
