-
  var pixies = [
    {
      title: "Pixies",
      description: "¡Iníciate en el mushing y el descenso a lo grande!",
      description2: "",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "435,8€",
      price_tax: "527,32€"
    }, {
      title: "Pixies Basic",
      description: "¡Iníciate en el mushing y el descenso a lo grande!",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "360€",
      price_tax: "939,75€"
    }
  ];
