-
	var scooters = [
		{
			name: "DownHill",
			description: "Surfea la montaña",
			link_url: "./downhill.html",
			image_url: "assets/images/downhill.jpg"
		}, {
			name: "Mushing",
			description: "Únete a la manada",
			link_url: "./mushing.html",
			image_url: "assets/images/mushing.jpg"
		}, {
			name: "Trail",
			description: "Halla el sendero",
			link_url: "./trail.html",
			image_url: "assets/images/trail.jpg"
		}, {
			name: "E-Scooter",
			description: "Patines eléctricos",
			link_url: "./escooters.html",
			image_url: "assets/images/e_scooter.jpg"
		}, {
			name: "Pixies",
			description: "Pequeños grandes pilotos",
			link_url: "./pixies.html",
			image_url: "assets/images/pixies.jpg"
		}, {
			name: "Snowing",
			description: "Descubre la nieve",
			link_url: "./snowing.html",
			image_url: "assets/images/snowing.jpg"
		}
	];
