-
	var scooters = [
		{
			name: "DownHill",
			color: "Nature",
			description: "Surfea la montaña",
			link_url: "./post-1.html",
			image_url: "assets/images/downhill.jpg"
		}, {
			name: "Mushing",
			color: "Nature",
			description: "Únete a la manada",
			link_url: "./post-2.html",
			image_url: "assets/images/mushing.jpg"
		}, {
			name: "Trail",
			color: "Nature",
			description: "Halla el sendero",
			link_url: "./post-3.html",
			image_url: "assets/images/trail.jpg"
		}, {
			name: "E-Scooter",
			color: "Nature",
			description: "Patines eléctricos",
			link_url: "./post-4.html",
			image_url: "assets/images/e_scooter.jpg"
		}, {
			name: "Pixies",
			color: "Nature",
			description: "Pequeños grandes pilotos",
			link_url: "./post-5.html",
			image_url: "assets/images/pixies.jpg"
		}, {
			name: "Snowing",
			color: "Nature",
			description: "Descubre la nieve",
			link_url: "./post-6.html",
			image_url: "assets/images/snowing.jpg"
		}
	];
