-
    var scooters_downhill = [
        {
            name: "DH Raptor",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            ref: "0099999945BO",
            link_url: "./post-1.html",
            image_url: "assets/images/post_main.jpg"
        }, {
            name: "DH Iron",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-2.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "DH Core Air",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-3.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "DH Core",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-4.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "M10 Trail",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-5.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }
    ];
