-
  var snow = [
    {
      title: "SNOW WHITE",
      description: "Un patinete de descenso para la nieve.",
      description2: "El único snowscooter para surfear, con una gran madera en la que colocar los pies en la posición perfecta de equilibrio, igual a la del snowboard, surf y demás deportes de tabla. Los pies van firmemente agarrados por unos footstraps pero que permiten una liberación instantánea.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "1.130€",
      price_tax: "527,32€"
    }
  ];
