-
  var trail = [
    {
      title: "M10 TRAIL",
      description: "Un todo terreno de altas prestaciones.",
      description2: "Nuestra mejor propuesta para All Mountain. Ligero, ágil en subidas y seguro en descensos.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "573€",
      price_tax: "527,32€"
    }, {
      title: "PULKA R",
      description: "El más ligero y deportivo, diseñado para la velocidad.",
      description2: "Diseñado para la competición de sprint de mushing o para un uso deportivo tanto en tierra como en asfalto.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "775€",
      price_tax: "939,75€"
    }, {
      title: "Pulka",
      description: "Un All Mountain ligero y deportivo.",
      description2: "Perfecto para la competición de sprint de mushing o para un uso deportivo tanto en tierra como en asfalto por su ligereza y baja altura, óptimas para la propulsión tanto en llano como en subida.",
      image_url: "./assets/images/dh-core_air.jpg",
      price: "648,63€",
      price_tax: "834,90€"
    }
  ];
