form(action="https://formspree.io/sergiofores@gmail.com", method="POST")
    label(for="Email") Email address
    input(type="email", name="_replyto", aria-describedby="emailHelp").form-control#email

    button(type="submit", value="Send").btn.btn--invert Submit
