include ../../_db/_scooters.pug
include ../../_db/_products.pug
include ../../_db/_downhill.pug
include ../../_db/_mushing.pug
include ../../_db/_snow.pug
include ../../_db/_pixies.pug
include ../../_db/_trail.pug
include ../../_db/_escooters.pug
//- include ../tpl/lib/mixins/_coverintro
include ../lib/mixins/_coverintro
include ../lib/mixins/_product-card

if current == "Downhill"
	+coverintro(
		"af awef wef revwervrwe vwr vr vewr ver vre ve v rever verfberfbrer be wrbefbrthbsrdfhrethjkw ilfjksdn gilsgjsgisdbgio",
		"j huegf uoerhg uoehrg uoergeoruhg", 
		"assets/images/downhill.jpg" )
if current == "Mushing"
	+coverintro(
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"j huegf uoerhg uoehrg uoergeoruhg", 
		"assets/images/mushing.jpg" )

section.ProductList
	if current == "Downhill"
		for product in downhill
			+product-card(product)
	else if current == "Mushing"
		for product in mushing
			+product-card(product)
	else if current == "Snow"
		for product in snow
			+product-card(product)
	else if current == "Pixies"
		for product in pixies
			+product-card(product)
	else if current == "Trail"
		for product in trail
			+product-card(product)
	else if current == "EScooters"
		for product in escooters
			+product-card(product)
	else
		h1 product not loading well
