include ../../_db/_scooters.pug
include ../../_db/_products.pug
include ../../_db/_downhill.pug
include ../../_db/_mushing.pug
include ../../_db/_snow.pug
include ../../_db/_pixies.pug
include ../../_db/_trail.pug
include ../../_db/_escooters.pug

include ../lib/mixins/_pageintro
include ../lib/mixins/_product-card

if current == "Downhill"
	+pageintro(
		"Downhill", 
		"La clave es un chasis que no separa las piernas, una gran tabla, un centro de gravedad muy bajo y los mejores componentes DH. Una geometría especialmente evolucionada para el descenso en patinete, que favorece la posición del surfista, erguida y centrada, óptima para controlar y disfrutar en todo tipo de descensos. Su distancia al suelo mínima (la mitad que una bici) proporcionan una estabilidad y libertad única sobre dos ruedas. Cuando más difícil es el camino o cuando más vertical es la pendiente más agradecerás estar sobre un GRAVITY.",
		"assets/images/downhilsl.jpg" )
if current == "Mushing"
	+pageintro(
		"Mushing", 
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"assets/images/mushing.jpg" )
if current == "Trail"
	+pageintro(
		"Trail", 
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"assets/images/trail.jpg" )
if current == "Pixies"
	+pageintro(
		"Pixies", 
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"assets/images/pixies.jpg" )
if current == "EScooters"
	+pageintro(
		"EScooters", 
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"assets/images/e_scooter.jpg" )
if current == "Snow"
	+pageintro(
		"Snow", 
		"Una gran superficie despejada para poner los pies, junto con la posición relativa del manillar y la inclinación del tren delantero, es lo que crea la inconfundible sensación de conducir un Gravity. No sólo es una sensación, la seguridad, facilidad de conducción y comodidad que ofrecen son reales. Estas geometrías hacen que ninguna máquina de dos ruedas sea más estable que un Gravity.",
		"assets/images/snowing.jpg" )

section.ProductList
	if current == "Downhill"
		for product in downhill
			+product-card(product)
	else if current == "Mushing"
		for product in mushing
			+product-card(product)
	else if current == "Snow"
		for product in snow
			+product-card(product)
	else if current == "Pixies"
		for product in pixies
			+product-card(product)
	else if current == "Trail"
		for product in trail
			+product-card(product)
	else if current == "EScooters"
		for product in escooters
			+product-card(product)
	else
		h1 product not loading well
