extends ./tpl/_layout

prepend header
	- current = "Home"

block main
	include ./tpl/lib/mixins/_coverintro
	include ./tpl/lib/mixins/_listscooters

	+coverintro(
		cover.name,
		cover.description,
		cover.cta_text
	)

	+listscooters()

	aside.AboutUs
		include tpl/components/_aboutus

	footer
		button E-points
