extends ./tpl/_layout

prepend header
	- current = "Home"

block main
	include ./_db/_scooters
	include ./_db/_cover
	include ./tpl/lib/mixins/_coverintro

	+coverintro(
		cover.name,
		cover.description,
		cover.cta_text
		)

	each cat in scooters
		a.CoverItem( href=cat.link_url style="background-image: url(" + cat.image_url + ")" )
			h1= cat.name
			h3= cat.description

	aside.AboutUs
		include tpl/components/_aboutus

	footer
		button E-points

	//- include ./tpl/components/_product
