footer
	block footer
		main.siteFooter
			include _nav-gravity
			include _nav-scooters
			include _nav-cultura
			include _nav-accesorios

			section.siteFooter--credits
				include ../components/_newsletter
				include ../components/_social
				p &copy; #{new Date().getFullYear()} #{Address}

		div(class="scrollToTop" onclick="scrolltop();")
