mixin navmenu(menu_items)
    nav(role="navigation")
        h4 Cultura
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Sobre Nosotros',  'link': './about.html'},
    { 'title': 'Nuestros Patinetes',  'link': './scooters.html'},
    { 'title': 'Nuestra Gente',  'link': './nuestra-gente.html'},
    { 'title': 'Donde Probar',  'link': './donde-probar.html'}
])
