mixin navmenu(menu_items)
    nav(role="navigation")
        h4 Scooters
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Downhill',  'link': './downhill.html'},
    { 'title': 'Mushing',  'link': './mushing.html'},
    { 'title': 'Pixies',  'link': './pixies.html'},
    { 'title': 'Snow',  'link': './snow.html'},
    { 'title': 'Trail',  'link': './trail.html'},
    { 'title': 'E-Scooters',  'link': './escooters.html'}
])
