mixin navmenu(menu_items)
    nav(role="navigation")
        h4 Accesorios
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Chasis y Tablas',  'link': './chasis-tablas.html'},
    { 'title': 'Piezas de Repuesto',  'link': './piezas-repuesto.html'},
    { 'title': 'Ropa',  'link': './ropa.html'},
    { 'title': 'Material Mushing',  'link': './material-mushing.html'}
])
