mixin navmenu(menu_items)
    h4 Scooters
    nav(role="navigation")
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Downhill',  'link': './index.html'},
    { 'title': 'Mushing',  'link': './posts.html'},
    { 'title': 'Pixies',  'link': './posts.html'},
    { 'title': 'Snow',  'link': './posts.html'},
    { 'title': 'Trail',  'link': './products.html'},
    { 'title': 'E-Scooters',  'link': './products.html'}
])
