mixin navmenu(menu_items)
    nav(role="navigation")
        h4 Gravity
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Atención al cliente',  'link': './atencion-cliente.html'},
    { 'title': 'Registra tu scooter',  'link': './registra-scooter.html'},
    { 'title': 'Devoluciones',  'link': './devoluciones.html'},
    { 'title': 'Distribuidores',  'link': './distribuidores.html'},
    { 'title': 'Contacto',  'link': './contacto.html'}
])
