mixin navmenu(menu_items)
    h4 Gravity
    nav(role="navigation")
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ item.title+'Btn', '' ])
                        a( href=item.link )
                            =item.title

+navmenu([
    { 'title': 'Atención al cliente',  'link': './index.html'},
    { 'title': 'Registra tu scooter',  'link': './posts.html'},
    { 'title': 'Devoluciones',  'link': './posts.html'},
    { 'title': 'Distribuidores',  'link': './posts.html'},
    { 'title': 'Contacto',  'link': './products.html'}
])
